.login {
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin: 50px auto;
    padding: 0 20px 200px;
}
.login .part1 {
    display: flex;
    flex-direction: column;
    gap: 40px;
    font-size: 25px;
    align-items: flex-start;
    justify-content: space-around;
    width: 50%;
}
.login .part1 p {
    font-size: 22px;
    margin-right: 40px;
}
.login input {
    height: 50px;
    width: 90%;
    padding-left: 20px;
    border: 1px solid black;
    font-size: 20px;
}
.login input::placeholder {
    font-size: 20px;
    width: 90%;
}

.login button {
    font-size: 20px;
    padding: 10px 40px;
    background-color: black;
    color: white;
    border-radius: 8px;
    letter-spacing: 2px;
}
.login .part2 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 25px;
    align-items: flex-start;
    justify-content: space-around;
    width: 50%;
}
.login .part2 span {
    font-size: 22px;
}
.login .part2 ul {
    list-style: none;
    gap: 20px;
   
}
.login .part2 ul li {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.login .part2 ul span {
    padding: 10px;
    font-size: 20px;
}
.login .checkIcon {
  font-size: 20px;
  opacity: 50%;
  color: green;
}
.login .rightIcon {
    font-size: 20px;
    color: white;
    padding-left: 20px;
}
.login .register {
    display: flex;
    align-items: center;
}
@media(max-width:997px){
    .login {
        flex-direction: column;
        padding-bottom: 0;
    }
    .login .part1 ,.login .part2 {
        width: 100%;
    }
}
