.TrackOrder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 50px auto;
    gap: 40px;
    font-size: 30px;
}
.TrackOrder h1 {
    padding-right: 20px;
}
.TrackOrder p {
    font-size: 25px;
    width: 40%;
}
.TrackOrder input {
    height: 50px;
    width: 40%;
    padding-left: 20px;
    border: 1px solid black;
    font-size: 20px;
}
.TrackOrder input::placeholder {
    font-size: 20px;
    padding-left: 20px;
}
.TrackOrder button {
    font-size: 30px;
    padding: 10px 40px;
    background-color: black;
    color: white;
    border-radius: 8px;
}
@media(max-width:997px){
    .TrackOrder p ,.TrackOrder input {
        width: 70%;
    }
}