.fullPhonesSection {
    background-color: rgb(241, 240, 240);
    padding-top: 50px;
}
.PhonesSection {
    display: flex;
    flex-direction: row;
}
.PhonesSection main {
    width: 75%;
    margin-left: 20px;
}
.PhonesSection main header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
    align-items: center;
}
.PhonesSection header h2 {
   
    font-weight: bolder;
    font-size: 25px;
}
.mobileAside {
    background-color: white;
    width: 25%;
    flex-shrink: 0;
    height: fit-content;
    margin-top: 17px;
    box-shadow: 2px 5px 10px 2px rgb(0 0 0 / 20%);
}
.mobileAside h2 {
    color: black;
    margin: 10px;
    font-size: 22px;
    font-weight: bolder;
    text-align: center;
}
.mobileAside ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    background-color:rgb(248, 248, 248);
    width: 100%;
    background-color: white;
    padding-bottom: 10px;
}
.mobileAside img {
    width: 18px;
    height: 35px;
}
.mobileAside ul li {
    background-color:rgb(241, 240, 240);
    margin: 10px ;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding: 15px 10px;
    align-items: center;
    
}
.mobileAside h3 {
    font-size: 18px;
}
.Mobilesection {
    display: flex;
    flex-direction: row;
    gap: 20px;
} 
@media(max-width:769px){
    .PhonesSection {
      flex-direction: column;
      gap: 30px;
    }
    .PhonesSection main {
        width: calc(100% - 20px);
        margin: 0 auto;
    }
    .mobileAside {
       width: calc(100% - 20px);
       padding: 10px;
       margin: 0 auto;
    }
} 