.fullFlashSection {
    background-color:rgb(241, 240, 240) ;
    padding-bottom: 50px;
    padding-top: 20px;
}
.flashdeals {
    background-color:rgb(241, 240, 240);
    font-size: 20px ;
    overflow: hidden;
    position: relative;
}
.flashdeals header {
    display: flex;
    padding: 20px 0 30px;
    align-items: center;
}
.flashdeals header h2 {
    padding-left: 10px;
    font-size: 25px;
} 
.flashdeals .itemscontainer {
    overflow: hidden;
}
.flash .arrowIcon {
    color:white ;
    background-color: rgb(62, 62, 233);
    padding: 15px;
    border-radius: 50%;
    position: absolute;
    top: 55%;
    cursor: pointer;
}
.flash .arrowIcon:hover {
    background-color: orange;
}
.flash .arrow .right {
    right: -11px;
}
.flash .arrow .left {
    left: -11px;
}
.flash {
    position: relative;
}
.flashdeals .plusIcon:hover {
 background-color:rgb(232, 76, 76) ;
 padding: 10px;
 border-radius: 5px;
 cursor: pointer;
}

@media(max-width:997px){
    .item .footer .stars {
        font-size: 15px;
    }
}

@media (max-width:769px){
    .flash .arrow .right {
        right: 0;
    }
    .flash .arrow .left {
        left: 0;
    }
}

@media (max-width:600px){
    
}