


.arrival {
    background-color:rgb(241, 240, 240) ;
    padding: 30px 0;
}
.arrival header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 10px;
    
}
.arrival header h2 {
    position: relative;
    margin-left: 47px;
    font-size: 25px;
}
.arrival header h2::before {
    content: 'NEW';
    position: absolute;
    width: 70px;
    height: 70px;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    background-color: rgb(92 193 92);
    color: white;
    left: -67px;
    top: -26px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}
.arrival header .Discounts::before {
    background-color: red;
}
.arrival .body {
 display: flex;
 flex-direction: row;
 gap: 20px;
 overflow: hidden;
 padding: 20px 0px;
 width: 100%;
}
.arrival .body.all {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
}
.arrival article {
    display: flex;
    flex-direction: column;
    border: 20px solid white;
    width: calc(100% / 5 - 15px);
    flex-shrink: 0;
    justify-content: space-between;
    height: 230px;
    background-color: white;
}
.arrival .body.all article {
    width: 100%;
}
.arrival article img {
    width: 100%;
    height: 70%;
}
.arrival article div {
 padding-left: 10px;
 margin-bottom: 10px;
}
@media (max-width:997px){
    .arrival article {
        width: calc(100% / 3 - 10px);
    }
}
.arrival article div h3 {
    padding-bottom: 3px;
}
.fullPhonesSection {
    background-color: rgb(241, 240, 240);
    padding-top: 50px;
}
.PhonesSection {
    display: flex;
    flex-direction: row;
}
.PhonesSection main {
    width: 75%;
    margin-left: 20px;
}
.PhonesSection main header {
    display: flex;
    justify-content: space-between;
}
.PhonesSection header h2 {
    padding-bottom: 15px;
    font-weight: bolder;
    font-size: 25px;
}
.mobileAside {
    background-color: white;
    width: 25%;
    flex-shrink: 0;
    height: fit-content;
    margin-top: 17px;
}
.mobileAside h2 {
    color: black;
    margin: 20px;
    font-size: 22px;
    font-weight: bolder;
}
.mobileAside ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    background-color:rgb(248, 248, 248);
    box-shadow: 2px 5px 10px 2px rgb(0 0 0 / 20%);
    width: 100%;
    background-color: white;
    padding-bottom: 10px;
    
}
.mobileAside img {
    width: 18px;
    height: 35px;
}
.mobileAside ul li {
    background-color:rgb(241, 240, 240);
    margin: 10px ;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding: 15px 10px;
    align-items: center;
}
.mobileAside h3 {
    font-size: 18px;
}
.Mobilesection {
    display: flex;
    flex-direction: row;
    gap: 20px;
}  