.mainNav {
    display: flex;
    position: relative;
    background-color: #232f3e;
    padding: 0px 30px;
}

.mainNav h2 {
    color: white;
    font-size: 19px;
}

.mainNav .part1 {
    display: flex;
    gap: 30px;
    align-items: center;
    cursor: pointer;
    padding-bottom: 5px;
}

.mainNav .part1 div {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}

.mainNav .part1 div span {
    width: 30px;
    height: 3px;
    background-color: red;
}

.mainNav .part2 {
    list-style: none;
    align-items: center;
    display: flex;
    color: white;
    flex-direction: row;
    font-size: 20px;
    font-weight: 600;
    flex: 1;
    z-index: 1;
    gap: 20px;
    justify-content: flex-end;
    padding-bottom: 10px;
    padding-right: 15px;
}

.mainNav .part2 li {
    padding: 5px;
    font-size: 16px;
}

.mainNav .part2 li:hover,
.mainNav a:hover {
    color: rgb(215, 116, 116);
    cursor: pointer;
}

a {
    text-decoration: none;
    color: white;
}

@media (max-width:769px) {
    .mainNav {
        display: none;
    }
}