.fullsection {
    background-color: rgb(241, 240, 240);
}

.todaydeals .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: white;
    box-shadow: 0px 2px 2px 2px rgb(0 0 0 / 20%);
}

.todaydeals .header img {
    width: 200px;
}

.todaydeals h1 {
    font-size: 40px;
    text-align: center;
    color: black;
    letter-spacing: 1px;
    color: #cf0909d6;
    padding-left: 20px;
}

.todaydeals .sliderContainer {
    position: relative;
}

.todaydeals .slider {
    display: flex;
    align-items: center;
    padding: 20px 20px;
    background-color: rgb(228, 228, 228);
    box-shadow: 0px 2px 2px 2px rgb(0 0 0 / 20%);
    justify-content: space-between;
    margin: 50px 0px;
    position: relative;
    overflow: hidden;
}

.todaydeals .slider .box {
    transition: 0.3s;
    flex-shrink: 0;
}

.todaydeals .slider .box figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    align-items: center;
    cursor: pointer;
}

.todaydeals .slider .box img {
    width: 100px;
    height: 80px;
    border-radius: 50%;
}

.todaydeals .sliderContainer .arrow {
    display: none;
}

.todaydeals .sliderContainer .arrowIcon {
    color: white;
    background-color: rgb(62, 62, 233);
    padding: 15px;
    border-radius: 50%;
    position: absolute;
    top: 37%;
    cursor: pointer;
}

.todaydeals .sliderContainer .arrowIcon:hover {
    background-color: orange;
}

.todaydeals .sliderContainer .arrow .right {
    right: -10px;
}

.todaydeals .sliderContainer .arrow .left {
    left: -10px;
}

@media(max-width:997px) {
    .todaydeals .slider {
        padding: 20px 10px;
    }

    .todaydeals .slider .box img {
        width: 80px;
    }

    .todaydeals h1 {
        font-size: 35px;
    }
}

@media(max-width:769px) {
    .todaydeals .sliderContainer {
        padding: 0 10px;
    }
    .todaydeals .header {
        flex-direction: column;
        padding: 10px 0;
    }

    .todaydeals h1 {
        font-size: 25px;
    }

    .todaydeals .header img {
        width: 100px;
    }

    .todaydeals .slider .box {
        width: 20%;
        flex-shrink: 0;
    }

    .todaydeals .sliderContainer .arrow {
        display: block;
    }
}

@media(max-width:550px) {
    .todaydeals .slider .box {
        width: calc(100% / 3);
    }
}

@media(max-width:400px) {
    .todaydeals .slider .box {
        width: 50%;
    }
}